In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df_car_sales_train_data = pd.read_csv('Data/sales_ads_train.csv',
    dtype={
        'Waluta': 'category',
        'Stan': 'category',
        'Marka_pojazdu': 'string',
        'Model_pojazdu': 'string',
        'Wersja_pojazdu': 'string',
        'Generacja_pojazdu': 'string',
        'Rok_produkcji': 'float64',
        'Przebieg_km': 'float',
        'Moc_KM': 'float',
        'Pojemnosc_cm3': 'float',
        'Rodzaj_paliwa': 'category',
        'Emisja_CO2': 'float',
        'Naped': 'category',
        'Skrzynia_biegow': 'category',
        'Typ_nadwozia': 'category',
        'Liczba_drzwi': 'float64',
        'Kolor': 'category',
        'Kraj_pochodzenia': 'category',
        'Pierwszy': 'category',
        'Lokalizacja_oferty': 'string',
        'Wyposazenie': 'string'

},
                           index_col="ID", parse_dates=['Data_pierwszej_rejestracji','Data_publikacji_oferty'], dayfirst=True)
df_car_sales_train_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 135397 entries, 1 to 135397
Data columns (total 24 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Cena                        135397 non-null  int64
 1   Waluta                      132021 non-null  category
 2   Stan                        132075 non-null  category
 3   Marka_pojazdu               132046 non-null  string
 4   Model_pojazdu               132088 non-null  string
 5   Wersja_pojazdu              87336 non-null   string
 6   Generacja_pojazdu           93737 non-null   string
 7   Rok_produkcji               131990 non-null  float64
 8   Przebieg_km                 131394 non-null  float64
 9   Moc_KM                      131664 non-null  float64
 10  Pojemnosc_cm3               130711 non-null  float64
 11  Rodzaj_paliwa               131987 non-null  category
 12  Emisja_CO2                  59497 non-null   float64
 13  Naped                       122343 non-null  category
 14  Skrzynia_biegow             131622 non-null  category
 15  Typ_nadwozia                132038 non-null  category
 16  Liczba_drzwi                131033 non-null  float64
 17  Kolor                       131934 non-null  category
 18  Kraj_pochodzenia            74977 non-null   category
 19  Pierwszy_wlasciciel         40883 non-null   object
 20  Data_pierwszej_rejestracji  54699 non-null   object
 21  Data_publikacji_oferty      131948 non-null  datetime64[ns]
 22  Lokalizacja_oferty          132056 non-null  string
 23  Wyposazenie                 132144 non-null  string
dtypes: category(8), datetime64[ns](1), float64(6), int64(1), object(2), string(6)
memory usage: 18.6+ MB

In [3]:
df_car_sales_test_data = pd.read_csv('Data/sales_ads_test.csv',
    dtype={
        'Waluta': 'category',
        'Stan': 'category',
        'Marka_pojazdu': 'string',
        'Model_pojazdu': 'string',
        'Wersja_pojazdu': 'string',
        'Generacja_pojazdu': 'string',
        'Rok_produkcji': 'float64',
        'Przebieg_km': 'float',
        'Moc_KM': 'float',
        'Pojemnosc_cm3': 'float',
        'Rodzaj_paliwa': 'category',
        'Emisja_CO2': 'float',
        'Naped': 'category',
        'Skrzynia_biegow': 'category',
        'Typ_nadwozia': 'category',
        'Liczba_drzwi': 'float64',
        'Kolor': 'category',
        'Kraj_pochodzenia': 'category',
        'Pierwszy': 'category',
        'Lokalizacja_oferty': 'string',
        'Wyposazenie': 'string'

},
                           index_col="ID", parse_dates=['Data_pierwszej_rejestracji','Data_publikacji_oferty'], dayfirst=True)
df_car_sales_test_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 72907 entries, 1 to 72907
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Waluta                      72907 non-null  category
 1   Stan                        72907 non-null  category
 2   Marka_pojazdu               72907 non-null  string
 3   Model_pojazdu               72907 non-null  string
 4   Wersja_pojazdu              48394 non-null  string
 5   Generacja_pojazdu           51734 non-null  string
 6   Rok_produkcji               72907 non-null  float64
 7   Przebieg_km                 72577 non-null  float64
 8   Moc_KM                      72678 non-null  float64
 9   Pojemnosc_cm3               72221 non-null  float64
 10  Rodzaj_paliwa               72907 non-null  category
 11  Emisja_CO2                  32946 non-null  float64
 12  Naped                       67775 non-null  category
 13  Skrzynia_biegow             72744 non-null  category
 14  Typ_nadwozia                72907 non-null  category
 15  Liczba_drzwi                72369 non-null  float64
 16  Kolor                       72907 non-null  category
 17  Kraj_pochodzenia            41425 non-null  category
 18  Pierwszy_wlasciciel         23161 non-null  object
 19  Data_pierwszej_rejestracji  30281 non-null  object
 20  Data_publikacji_oferty      72907 non-null  datetime64[ns]
 21  Lokalizacja_oferty          72907 non-null  string
 22  Wyposazenie                 72907 non-null  string
dtypes: category(8), datetime64[ns](1), float64(6), object(2), string(6)
memory usage: 9.5+ MB

# UWAGA!!
Łączenie danych testowych i treningowych tylko na czas czyszczenia stringów i formatowań!!!

In [4]:
df_car_sales_test_data['Cena'] = pd.Series()
df_car_sales = pd.concat([df_car_sales_train_data, df_car_sales_test_data])
df_car_sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 208304 entries, 1 to 72907
Data columns (total 24 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Cena                        135397 non-null  object
 1   Waluta                      204928 non-null  category
 2   Stan                        204982 non-null  category
 3   Marka_pojazdu               204953 non-null  string
 4   Model_pojazdu               204995 non-null  string
 5   Wersja_pojazdu              135730 non-null  string
 6   Generacja_pojazdu           145471 non-null  string
 7   Rok_produkcji               204897 non-null  float64
 8   Przebieg_km                 203971 non-null  float64
 9   Moc_KM                      204342 non-null  float64
 10  Pojemnosc_cm3               202932 non-null  float64
 11  Rodzaj_paliwa               204894 non-null  object
 12  Emisja_CO2                  92443 non-null   float64
 13  Naped                       190118 non-null  category
 14  Skrzynia_biegow             204366 non-null  category
 15  Typ_nadwozia                204945 non-null  category
 16  Liczba_drzwi                203402 non-null  float64
 17  Kolor                       204841 non-null  category
 18  Kraj_pochodzenia            116402 non-null  object
 19  Pierwszy_wlasciciel         64044 non-null   object
 20  Data_pierwszej_rejestracji  84980 non-null   object
 21  Data_publikacji_oferty      204855 non-null  datetime64[ns]
 22  Lokalizacja_oferty          204963 non-null  string
 23  Wyposazenie                 205051 non-null  string
dtypes: category(6), datetime64[ns](1), float64(6), object(5), string(6)
memory usage: 31.4+ MB

### Czyszczenie i konwersja 'Data_pierwszej_rejestracji' do typu 'datetetime64'

In [5]:
df_car_sales['Data_pierwszej_rejestracji']

ID
1               NaN
2        16/06/2010
3               NaN
4        27/11/2007
5        20/05/2013
            ...
72903    20/12/2020
72904           NaN
72905           NaN
72906           NaN
72907    17/03/2021
Name: Data_pierwszej_rejestracji, Length: 208304, dtype: object

Zakładając brak pomyłek:

 - najstarsze auto zostało wyprodukowane w 1923, lecz dane testowe zawierają w sobie nawet takie z 1915
 - dane pochodzą z 2021

In [6]:
df_car_sales['Rok_produkcji'].describe()

count    204897.000000
mean       2012.098323
std           7.002089
min        1915.000000
25%        2008.000000
50%        2013.000000
75%        2017.000000
max        2021.000000
Name: Rok_produkcji, dtype: float64

'Data_pierwszej_rejestracji' zawiera w sobie zarówno błędne formatowanie jak i rok rejestracji

In [7]:
df_car_sales['Data_pierwszej_rejestracji'] = df_car_sales['Data_pierwszej_rejestracji'].str.replace('//', '/')

In [8]:
# Dzielenie daty rejestracji na kolumny dnia, miesiąca i roku
first_registration_expanded_data = df_car_sales['Data_pierwszej_rejestracji'].str.split('/', expand=True).rename(columns={0: 'Dzien_pierwszej_rejestracji', 1: 'Miesiac_pierwszej_rejestracji', 2: 'Rok_pierwszej_rejestracji'})

In [9]:
# Łączenie datych z kolumną roku produkci pojazdu dla dalszej analizy
df_car_sales_with_expanded_registration_dates = pd.concat([df_car_sales['Rok_produkcji'], first_registration_expanded_data], axis=1)
df_car_sales_with_expanded_registration_dates

,Rok_produkcji,Dzien_pierwszej_rejestracji,Miesiac_pierwszej_rejestracji,Rok_pierwszej_rejestracji
ID,,,,
1,2005.0,NaN,NaN,NaN
2,2010.0,16,06,2010
3,2015.0,NaN,NaN,NaN
4,2007.0,27,11,2007
5,2013.0,20,05,2013
...,...,...,...,...
72903,2016.0,20,12,2020
72904,2009.0,NaN,NaN,NaN
72905,2016.0,NaN,NaN,NaN
72906,2009.0,NaN,NaN,NaN
72907,2020.0,17,03,2021

In [10]:
df_car_sales_with_expanded_registration_dates.loc[
    df_car_sales_with_expanded_registration_dates['Rok_pierwszej_rejestracji'].astype(float) < 1940
][['Rok_produkcji', 'Rok_pierwszej_rejestracji']]

# Zastąpienie pierwszych 2 cyfr roku cyframi z roku produkcji zdaje się że rozwiąże większość konfliktów

       Rok_produkcji Rok_pierwszej_rejestracji
ID
1727          2006.0                      0012
1890          2016.0                      0017
2265          1998.0                      0098
2744          1998.0                      0098
3999          2000.0                      0200
...              ...                       ...
64740         2019.0                      0019
66741         2018.0                      0018
67429         2008.0                     -0001
68969         2004.0                      0204
71521         2013.0                      0013

[223 rows x 2 columns]

In [11]:
# Dodać do listy zakupów
df_car_sales.iloc[32583]

Cena                                                1300000
Waluta                                                  PLN
Stan                                                   Used
Marka_pojazdu                                   Rolls-Royce
Model_pojazdu                                       Phantom
Wersja_pojazdu                                         <NA>
Generacja_pojazdu                                      <NA>
Rok_produkcji                                        1936.0
Przebieg_km                                         40355.0
Moc_KM                                                  NaN
Pojemnosc_cm3                                        3499.0
Rodzaj_paliwa                                      Gasoline
Emisja_CO2                                              NaN
Naped                                           Rear wheels
Skrzynia_biegow                                      Manual
Typ_nadwozia                                      city_cars
Liczba_drzwi                                            5.0
Kolor                                                 other
Kraj_pochodzenia                              Great Britain
Pierwszy_wlasciciel                                     NaN
Data_pierwszej_rejestracji                       01/02/1936
Data_publikacji_oferty                  2021-05-04 00:00:00
Lokalizacja_oferty            Poznań, Wielkopolskie, Jeżyce
Wyposazenie                                              []
Name: 32584, dtype: object

In [12]:
# Usuwanie ujemnych wartości z roku
df_car_sales_with_expanded_registration_dates['Rok_pierwszej_rejestracji'] = (df_car_sales_with_expanded_registration_dates['Rok_pierwszej_rejestracji'].
                                                                              str.replace('-', ''))

In [13]:
# Wyświetlanie danych gdzie rok pierwszej rejestracji jest wcześniejszy niż rok produkcji
df_car_sales_with_expanded_registration_dates.loc[
    df_car_sales_with_expanded_registration_dates['Rok_pierwszej_rejestracji'].astype(float) < df_car_sales_with_expanded_registration_dates['Rok_produkcji'].astype(float)
][['Rok_produkcji', 'Rok_pierwszej_rejestracji']]

       Rok_produkcji Rok_pierwszej_rejestracji
ID
822           1998.0                      1997
1089          2011.0                      2010
1424          2010.0                      2009
1727          2006.0                      0012
1890          2016.0                      0017
...              ...                       ...
71457         2020.0                      2019
71521         2013.0                      0013
71660         2005.0                      2004
71919         2015.0                      1970
72034         2007.0                      2005

[592 rows x 2 columns]

In [43]:
test_data = df_car_sales_with_expanded_registration_dates

non_null_production_year = test_data.loc[test_data['Rok_produkcji'].notnull() == True]
non_null_registration_year = test_data.loc[test_data['Rok_pierwszej_rejestracji'].notnull() == True]

non_null_indices = (non_null_registration_year & non_null_production_year)
# non_null_indices = test_data.loc[(test_data['Rok_pierwszej_rejestracji'].isna()) | (test_data['Rok_produkcji'].isna())].index
# idices_to_fix = test_data.loc[
#     test_data['Rok_pierwszej_rejestracji'].astype(float) < test_data['Rok_produkcji'].astype(float)
# ][['Rok_produkcji', 'Rok_pierwszej_rejestracji']].index

test_data.loc[
     (test_data['Rok_pierwszej_rejestracji'].notnull() == True) & (test_data['Rok_produkcji'].notnull() == True])]

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (2711304047.py, line 13)

In [17]:
test_data.loc[test_data['Rok_pierwszej_rejestracji'].isna()]

,Rok_produkcji,Dzien_pierwszej_rejestracji,Miesiac_pierwszej_rejestracji,Rok_pierwszej_rejestracji
ID,,,,
1,2005.0,NaN,NaN,NaN
3,2015.0,NaN,NaN,NaN
9,2009.0,NaN,NaN,NaN
10,2011.0,NaN,NaN,NaN
11,2021.0,NaN,NaN,NaN
...,...,...,...,...
72900,2017.0,NaN,NaN,NaN
72901,2009.0,NaN,NaN,NaN
72904,2009.0,NaN,NaN,NaN
72905,2016.0,NaN,NaN,NaN
72906,2009.0,NaN,NaN,NaN